html {
  box-sizing: border-box!important;
}

body {
  position: relative;
}
/* Navigation bar  style starts here */

#navigation nav {
    background-color: transparent;

}

#navigation li a {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 16px;
}

#navigation .navbar .navbar-brand {
  height: 20%;
  line-height: 20px;
  font-size: 25px;
  font-weight: 400;
}

.btn.btn-raised.btn-warning {
  background-color: #ec914b;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 13px;
  text-transform: none;
}

#navigation li span a {
  padding: 5px 8px 5px 8px;
}

/* Navigation bar  style ends here */

/* home page  style starts here */
.intro-header {
background-image: url('images/CARGO_SHIP_tanker_ship_boat_transport_container_freighter_1920x900.jpg');
background-size: cover;
height: 650px;
padding-top: 150px;
padding-bottom:50px;
color: white;
}

.home-page-header {
 font-size: 50px;
 line-height: 150%;
}

.btn-casper {
  margin-left: 70px;
}

/* home page  style ends here */

/* Service-info section  style starts here */

.info-box {
  margin-top: 110px;
  margin-bottom: 140px;
  border-left: 1px solid  #8AACBA;;
  border-right: 1px solid #8AACBA;;
  border-top: 5px solid #8AACBA;;
  border-bottom: 3px solid #8AACBA;
  border-radius: 2px;
  height: 360px;
  width: 100%;
  position: relative;
  padding-top: 8px;
}

.lower-box {
  height: 12%;
  bottom: 0px;
  background-color: #8AACBA;
  bottom: 0;
  position: absolute;
  width: 100%;
  color: white;
  padding-top: 6px;
}

.lower-box p {
  font-size: 25px;
  color: white;

}
 .box-header {
  font-weight: bold;
  color: #8AACBA ;
 }

.info-icon i{
  color: #8AACBA;
  font-size: 80px;
  margin-top: 40px;
}

.box-text {
  font-size: 23px;
  color: #8AACBA ;
  margin-top: 30px;
  font-weight: 100;
}
/* Service-info section  style ends here */

/* Casper-service section style starts here */

h1 {
  margin-top: 70px;
  margin-bottom: 40px;
}

.grey-background {
  background-color: #BBBBBB;
  padding: 0px 50px 50px 50px;
}

.blue {
  color: #1d6989;
  margin-right: 15px;
}

.orange {
  color: #ec914b;
  margin-right: 15px;
}


/* Casper-service section style ends here */

/*CASPER-service-how section style starts here */

.info-body {
  font-size: 15px;
  padding: 0px 30px 30px 30px;
  text-align: justify;
}

.info-body h5 {
  margin-bottom: 20px;
  font-weight: 500;
}

b {
  font-weight: 500;
}

.float-left {
  float: left;
  position: relative;
}

.icon-how {
  font-size: 60px;
  margin-right: 15px;
  color: #1d6989;
}
/*CASPER-service-how section style ends here */

/*CASPER -service -benefits section style starts here */


.icon-benefits {
  font-size: 55px;
  margin-right: 15px;
  color: #ec914b;
  position: relative;
  top: 5px;
  bottom: 5px;
}

.tile {
  font-size: 15px;
  height: 400px;
  padding: 20px;
  text-align: justify;
  overflow: auto;
}

.tile h5 {
  font-weight: 500;
}
.tile-blue {
  background-color: #8AACBA;
}

.tile-white {
  background-color: white;
}

.tile-grey {
  background-color: #EEEEEE;
}

.float-left {
  float: left;
  position: relative;
}


/*CASPER -service -benefits section style ends here */

/*News section style starts here */
.news-box {
  height: 350px;
  padding: 0px;
  margin-bottom: 70px;

}

.latest-news {
  height: 350px;
  overflow: auto;
  margin-bottom: 70px;
}

.news-image {
  height: 350px;
  width: 35%;
  float: left;
}

.news-image img {
  height: 350px;
  width: 100%;
}

.news-text {
  width: 65%;
  padding: 30px;
  overflow: auto;
  float: right;
}

.news-text h4 {
  line-height: 150%;
  margin-top: 30px;
}

/*News section style ends here */


/*Footer-contacts section style starts here */

.footers {
  background-color: #1d6989;
  color: white;
  padding: 0px;
}

.column-1 {
  width: 45px;
  padding-bottom: 10px;
  font-size: 25px;
}

footer h2 {
  line-height: 100%;
  font-weight: 400;
}

table {
  margin-top: 25px;
}

th {
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 20px;
}

td {
  font-size: 16px;
  line-height: 1em;
  margin: 0px;
}

.bottom-text {
  margin-bottom: 20px;
}

.footer-text {
  padding: 9px;
  margin-top: 40px;
}

.float-right {
  float: right;
}

.mail {
  color: white;
}

.mail:visited {
  color: ##ec914b
}

.mail:hover{
  color: #ec914b;
}

.mail:active {
  color: #ec914b;
}

/*Footer-contacts section style ends here */
