html {
  box-sizing: border-box!important;
}

/* Navigation bar  style starts here */

#navigation nav {
    background-color: transparent;

}

#navigation a {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 16px;
}

#navigation .navbar .navbar-brand {
  height: 30px;
  line-height: 20px;
  font-size: 25px;
  font-weight: 400;
}

/* Navigation bar  style ends here */

/* home page  style starts here */
.intro-header {
background-image: url('CARGO_SHIP_tanker_ship_boat_transport_container_freighter_1920x900.jpg');
background-size: cover;
height: 650px;
padding-top: 150px;
padding-bottom:50px;
color: white;
}

h1 {
 font-size: 50px;
 line-height: 200%;
}

.btn-casper {
  margin-left: 70px;
}

/* home page  style ends here */

/* Service-info section  style starts here */

.info-box {
  margin-top: 110px;
  margin-bottom: 140px;
  border-left: 1px solid #8AACBA;
  border-right: 1px solid #8AACBA;
  border-top: 5px solid #8AACBA;
  border-bottom: 3px solid #8AACBA;
  border-radius: 2px;
  height: 360px;
  width: 100%;
  position: relative;
  padding-top: 8px;
}

.lower-box {
  height: 12%;
  bottom: 0px;
  background-color: #8AACBA;
  bottom: 0;
  position: absolute;
  width: 100%;
  color: white;
  padding-top: 6px;
}

.lower-box p {
  font-size: 25px;
  color: white;

}
 .box-header {
  font-weight: bold;
  color: #8AACBA ;
 }

.info-icon {
  color: #8AACBA;
  font-size: 16px;
  margin-top: 40px;
}

.box-text {
  font-size: 23px;
  color: #808080;
  margin-top: 30px;
  font-weight: 100;
}
/* Service-info section  style ends here */

/* Casper-service section style starts here */

.bold-word {
  font-weight: bold;
}

.casper-text {
  padding: 30px;
  padding-right: 50px;
  padding-left: 50px;
}

.grey-background {
  background-color: #BBBBBB;
  padding: 50px;

}

section .container-fluid .well-grey {
  background-color: #EEEEEE;
  font-size: 16px;
}



/* Casper-service section style ends here */

/*CASPER-service-how section style starts here */

.info-body {
  font-size: 16px;
  padding: 30px;
}

.info-body h4 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 400;
}

b {
  font-weight: 500;
}
/*CASPER-service-how section style ends here */

/*CASPER -service -benefits section style starts here */

.tile {
  font-size: 16px;
  height: 400px;
  padding: 20px;
}

.tile h4 {
  font-weight: 500;
}
.tile-blue {
  background-color: #8AACBA;
}

.tile-white {
  background-color: white;
}

.tile-grey {
  background-color: #EEEEEE;
}
/*CASPER -service -benefits section style ends here */

/*Footer-contacts section style starts here */

.footers {
  background-color: #1d6989;
  color: white;
  padding: 0px;
}

.column-1 {
  width: 45px;
  padding-bottom: 10px;
  font-size: 25px;
}

footer h2 {
  line-height: 100%;
  font-weight: 400;
}

table {
  margin-top: 25px;
}

th {
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 20px;
}

td {
  font-size: 16px;
  line-height: 1em;
  margin: 0px;
}

.bottom-text {
  margin-bottom: 20px;
}

.footer-text {
  padding: 9px;
  margin-top: 40px;
}

.float-right {
  float: right;
}

.mail, .mail:visited{
  color: white;

}

.mail:hover, .mail:active{
  color: #3F494D;
}
/*Footer-contacts section style ends here */
