html {
  box-sizing: border-box!important;
}


.navbar-default {
  background-color: transparent !important;
}


.intro-header {
background-image: url('CARGO_SHIP_tanker_ship_boat_transport_container_freighter_1920x900.jpg');
background-size: cover;
height: 650px;
padding-top: 150px;
padding-bottom:50px;
color: white;
}



h1 {
 font-size: 50px;
 line-height: 200%;
}

.btn-casper {
  margin-left: 70px;
}

.info-box {
  margin-top: 110px;
  margin-bottom: 140px;
  margin-left: 80px;
  border-left: 1px solid CornflowerBlue;
  border-right: 1px solid CornflowerBlue;
  border-top: 5px solid CornflowerBlue;
  border-bottom: 3px solid CornflowerBlue;
  border-radius: 2px;
  height: 360px;
  width: 70%;
  position: relative;
  padding-top: 8px;
}

.lower-box {
  height: 15%;
  bottom: 0px;
  background-color: CornflowerBlue;
  bottom: 0;
  position: absolute;
  width: 100%;
  color: white;
  padding-top: 6px;
}

.lower-box p {
  font-size: 30px;
  color: white;

}
 .box-header {
  font-weight: bold;
  color:CornflowerBlue ;
 }

.info-icon {
  color: CornflowerBlue;
  font-size: 20px;
  margin-top: 40px;
}

.box-text {
  font-size: 25px;
  color: grey;
  margin-top: 30px;
  font-weight: 100;
}
